<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div class="logo">
        <a routerLink="/">Boom!</a>
        <div class="btn-group dropdown-btns"
                                   appDropdown
        >
          <button type="button" class="btn btn-default dropdown-toggle"><i class="fa fa-cog fa-2x"></i><span class="fa fa-caret-down"></span></button>
          <ul class="dropdown-menu">
            <li><a routerLink="/roles" style="cursor: pointer;">User roles</a></li>
            <li><a routerLink="/users" style="cursor: pointer;">Users</a></li>
            <li><a routerLink="/usergroups" style="cursor: pointer;">User Groups</a></li>
            <li><a routerLink="/projects" style="cursor: pointer;">Projects</a></li>
            <li><a routerLink="/statuses" style="cursor: pointer;">Status</a></li>
            <li><a routerLink="/levels" style="cursor: pointer;">Level/Exp</a></li>
          </ul>
        </div>
      </div>
      <div class="pr-bar">
        <div class="done-bar"></div>
      </div>
      <div class="pr-percent">
        <span class="pr-percent-img"></span>
        <span class="pr-percent-text">57%</span>
      </div>
      <div class="pr-complete">
        Complete now!
      </div>
      <div class="account">
        <ng-template [ngIf] = "!user">
          <a  class="account-text" routerLink="/signup">Register</a>
          <a class="account-text" routerLink="/signin">Login</a></ng-template>
        <!--<span class="account-img"></span>-->
        <span  class="account-text">{{ user.email }}</span>
      </div>
    </div>
  </div>
</div>


