<ng-template ngIf="statuses">
    <div class="container">
        <h3>Statuses</h3>
        <div class="table">
            <div class="tr" >
                <div>Id</div>
                <div>Title</div>
                <div></div>
            </div>
            <form #myForm="ngForm" novalidate (ngSubmit)="create(myForm)">
                <div></div>
                <div><input  id="myinput" class="form-control inputmuform" placeholder="Enter to Title" name="title" ngModel required></div>
                <div><button class="btn btn-small btn-primary" [disabled]="myForm.invalid"><i class="fa fa-plus"></i></button></div>
            </form>
            <form *ngFor="let status of statuses; let i = index"
                  id="tr{{status.id }}"
                  [@list] #myUpdateForm="ngForm" novalidate (ngSubmit)="update(myUpdateForm, i)">
                <div>{{ status.id}}</div>
                <div>
                    <span *ngIf="!status.edit">{{ status.title}}</span>
                    <div *ngIf="status['edit']" >
                        <input class="form-control"
                               value="{{status.title}}" name="title" ngModel required/>
                    </div>
                </div>
                <div style="width: 100px;">
                    <a *ngIf="!status.edit" class="btn  btn-small btn-danger" (click)="remove(i)"><i class="fa fa-trash"></i> </a>
                    <a *ngIf="!status.edit" class="btn  btn-small btn-info" (click)="showUpdate(i)"><i class="fa fa-pencil"></i></a>
                    <!--<button *ngIf="level.edit" class="btn btn-small btn-danger" (click)="cancel(i)"><i class="fa fa-ban"></i></button>-->
                    <button *ngIf="status.edit" class="btn btn-small btn-danger" [disabled]="myUpdateForm.invalid"><i class="fa fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</ng-template>