<div class="space">
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Plan for the week #
    </div>
    <div class="calendar">
      <!-- <img src="img/today.png" class="today"/> -->
      1
    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>5 the most important tasks of the week</div>
          <div class="text-head">The accomplishment of these 5 tasks is already a victory!</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <form *ngFor="let task of tasks; let i = index"
               id="tr{{task.id }}"
               #myForm="ngForm"  novalidate (keyup)="update(myForm, i)" >
          <div class="second-block" *ngIf="task.priority_id === 1">
            <div class="second-start-input">
              <div>
                <div>
                  <input type="text" class="input-1"
                         name="text" ngModel required  placeholder="{{task.text}}"/>
                </div>

              </div>
            </div>
            <div  class="second-end-checkbox">
              <input    (click)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
            </div>
          </div>
        </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Secondary objectives</div>
          <div class="text-head">Proceed after performing the focus of the day..</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <form *ngFor="let task of tasks; let i = index"
            id="tr{{task.id + 1}}"
            #myForm="ngForm"  novalidate (keyup)="update(myForm, i)" >
        <div class="second-block" *ngIf="task.priority_id === 2">
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel required  placeholder="{{task.text}}"/>
              </div>

            </div>
          </div>
          <div  class="second-end-checkbox">
            <input    (click)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
          </div>
        </div>
      </form>
      <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>How I will be rewarded if I reach the most important purposes of this week?</div>
          <div class="text-head">Relax, have fun and rock-and-roll!</div>
        </div>
      </div>
        <form  #myForm="ngForm"  novalidate (keyup)="updateReward(reward.id, myForm)">
      <div class="second-block">
        <input type="text" value="тест"
               name="text" class="input-1" placeholder="{{reward.text}}" ngModel required/>
        </div>
        </form>
      </div>

    </div>

    <div class="third-block">
      <a routerLink="/long">
        <div class="button-back">
          Back
        </div>
      </a>
      <a routerLink="/day">
        <div class="button-next">
          Plan next day
        </div>
      </a>
    </div>
  </div>
</div>
