<div class="space">
  <div [@list] *ngIf="save" class="visible  center">
    <div  *ngIf="save"  class="save-img1 save-font"   >Save...</div></div>
</div>
<div *ngIf="review" class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Week review # ..
    </div>
    <a  class="calendar" (click)="scrollbyid()">
      Go on week plan!
    </a>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>My victories of this week</div>
          <div class="text-head">What's going on? What works? What achievements (big and small)?</div>
        </div>
      </div>
      <form *ngFor="let victory of victories; let i = index"
            id="tr{{victory.id + 1}}"
            #myForm="ngForm"  novalidate (focusout)="updateVictory(myForm, i)" >
        <div class="second-block" >
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel="{{victory.text}}" required  placeholder="Windows prepared for new challenges"/>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Lessons of this week?</div>
          <div class="text-head">What new things have I learned about this week? What lessons have I learned from the mistakes?</div>
        </div>
      </div>
      <form *ngFor="let lesson of lessons; let i = index"
            id="tr{{lesson.id + 1}}"
            #myForm="ngForm"  novalidate (focusout)="updateLesson(myForm, i)" >
        <div class="second-block" >
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel="{{lesson.text}}" required  placeholder="Use Your Reset Button To Change Your Vibration"/>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>Unrested tasks of the past week</div>
          <div class="text-head">What tasks related to the 12-week goals could not be fulfilled, why?</div>
        </div>
      </div>
      <form *ngFor="let unrested of unresteds; let i = index"
            id="tr{{unrested.id + 1}}"
            #myForm="ngForm"  novalidate (focusout)="updateUnrested(myForm, i)" >
        <div class="second-block" >
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel="{{unrested.text}}" required  placeholder="Use Your Reset "/>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>One specific action, which will make the next week more effective</div>
          <div class="text-head">As detailed as possible for now</div>
        </div>
      </div>
      <form *ngFor="let spec of specific; let i = index"
            id="tr{{spec.id + 1}}"
            #myForm="ngForm"  novalidate (focusout)="updateSpec(myForm, i)" >
        <div class="second-block" >
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel="{{spec.text}}" required  placeholder="Use Your Reset Button To Change Your Vibration"/>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="great-job">
      Great job.<br> Complete filling current plan before 18:00. <br><span style="border-bottom:2px dashed violet">Next step is available in</span>
    </div>
    <div class="third-block">
      <!-- <div class="button-back">
         Back
         </div>
         <div class="button-next">
         Next
         </div> -->
    </div>
  </div>
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Plan for the week
    </div>
    <div class="calendar">
      <img class="today"/>
    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>5 the most important tasks of the week</div>
          <div class="text-head">The accomplishment of these 5 tasks is already a victory!</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <form *ngFor="let task of tasks; let i = index"
               id="tr{{task.id }}"
               #myForm="ngForm"  novalidate (focusout)="update(myForm, i)" >
          <div class="second-block" *ngIf="task.priority_id === 1">
            <div class="second-start-input">
              <div>
                <div>
                  <input type="text" class="input-1"
                         name="text" ngModel="{{task.text}}" required  placeholder="Create a task for the Boom!"/>
                </div>

              </div>
            </div>
            <div  class="second-end-checkbox">
              <input    (focusout)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
            </div>
          </div>
        </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Secondary objectives</div>
          <div class="text-head">Proceed after performing the focus of the day..</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <form *ngFor="let task of tasks; let i = index"
            id="tr{{task.id + 1}}"
            #myForm="ngForm"  novalidate (focusout)="update(myForm, i)" >
        <div class="second-block" *ngIf="task.priority_id === 2">
          <div class="second-start-input">
            <div>
              <div>
                <input type="text" class="input-1"
                       name="text" ngModel="{{task.text}}" required  placeholder="Create a task for the Boom!"/>
              </div>

            </div>
          </div>
          <div  class="second-end-checkbox">
            <input    (click)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
          </div>
        </div>
      </form>
      <div style="height:37px">&nbsp;</div>
      <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>How I will be rewarded if I reach the most important purposes of this week?</div>
          <div class="text-head">Relax, have fun and rock-and-roll!</div>
        </div>
      </div>
        <form  #myForm="ngForm"  novalidate (focusout)="updateReward(reward['id'], myForm)">
      <div class="second-block-s">
        <input type="text" value="тест"
               name="text" class="input-1" placeholder="When asked, “If you could wish for one thing only, what would that wish be?” almost everyone.." ngModel="{{reward['text']}}" required/>
        </div>
        </form>
      </div>

    </div>

    <div class="third-block">
      <a routerLink="/long">
        <div class="button-back">
          Back
        </div>
      </a>
      <a routerLink="/day">
        <div class="button-next">
          Plan next day
        </div>
      </a>
    </div>
  </div>
</div>

<footer>

  <i class="fa-2x fa-calendar-o icons" routerLink="/day">
    <div class="icons-text">Day</div>
  </i>

  <i class="fa-2x fa-calendar-check-o icons" routerLink="/week" style="color:#7779FB">
    <div class="icons-text">Week</div>
  </i>
  <i class="fa-2x fa-calendar icons" routerLink="/long">
    <div class="icons-text">Month</div>
  </i>
  <!--<i class="fa-2x fa-bars icons menu-bar" id="showLeft" ></i>-->
  <!--<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">-->
    <!--<h3>Menu</h3>-->
    <!--<a href="#">Celery seakale</a>-->
    <!--<a href="#">Dulse daikon</a>-->
    <!--<a href="#">Zucchini garlic</a>-->
    <!--<a href="#">Catsear azuki bean</a>-->
    <!--<a href="#">Dandelion bunya</a>-->
    <!--<a href="#">Rutabaga</a>-->
  <!--</nav>-->
</footer>

<div class="container-footer">
  Copyright 2017-2018 Boom! All Rights Reserved.
</div>
