<div class="space">
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Plan for the week #
    </div>
    <div class="calendar">
      <!-- <img src="img/today.png" class="today"/> -->
      1
    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>5 the most important tasks of the week</div>
          <div class="text-head">The accomplishment of these 5 tasks is already a victory!</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Secondary objectives</div>
          <div class="text-head">Proceed after performing the focus of the day..</div>
        </div>
        <div class="second-end" title="Check all">
          Does the task relate to my 12-week goals?
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Use Your Reset Button To Change Your Vibration">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="A Brief History of Creation">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="The Fact and The Truth">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Use Your Reset Button To Change Your Vibration">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="A Brief History of Creation">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="The Fact and The Truth">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>How I will be rewarded if I reach the most important purposes of this week?</div>
          <div class="text-head">Relax, have fun and rock-and-roll!</div>
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
                     <textarea class="input-big" type="text" placeholder="When asked, “If you could wish for one thing only,
                        what would that wish be?” almost everyone; from beauty pagent contestants, to politicians, to religious
                        leaders, to children, to the average person on the street states, “Peace On Earth” or “An end to all
                        wars”. Those wishes, while exemplary, are meaningless.."></textarea>
        </div>
      </div>
    </div>

    <div class="third-block">
      <a routerLink="/long">
        <div class="button-back">
          Back
        </div>
      </a>
      <a routerLink="/day">
        <div class="button-next">
          Plan next day
        </div>
      </a>
    </div>
  </div>
</div>