<div class="space"></div>
<div class="register-back">
  <div class="main-reg">
    <h1 class="log">Golaso!</h1>
    <div class="signin-form">
      <button style="z-index: 9999" class="loginBtn loginBtn--facebook"  (click)="socialSignIn('facebook')">Continue with Facebook</button>
      <button style="z-index: 9999" class="loginBtn loginBtn--google"  (click)="socialSignIn('google')">Continue with Google</button>

      <div class="or"><span>or</span></div>
      <form (ngSubmit)="onSignup(form)" novalidate #form="ngForm">
        <input type="text" id="first_name" name="first_name" ngModel class="form-control" placeholder="Your name" required>
        <input type="text" id="last_name" name="last_name" ngModel class="form-control" placeholder="Your last name" required>
        <input type="email" id="email" name="email" ngModel="{{ email }}" class="form-control" placeholder="email" required>
        <input type="password"id="password" name="password" ngModel class="form-control" placeholder="password" required>
        <input type="submit" value="REGISTER" [disabled]="form.invalid">
      </form>
      <div class="have-account" routerLink="/signin" >I already have an account</div>
    </div>
  </div>

</div>
<div *ngIf="error" class="has-error">Пользователь с таким email уже существует!</div>

