<ng-template ngIf="levels">
    <div class="container">
        <h3>Levels</h3>
        <div class="table">
            <div class="tr" >
                <div>Id</div>
                <div>Level</div>
                <div>Exp</div>
                <div></div>
            </div>
            <form #myForm="ngForm" novalidate (ngSubmit)="create(myForm)">
                <div></div>
                <div><input  id="myinput" class="form-control inputmuform" placeholder="Enter to Level" name="level" ngModel required></div>
                <div><input id="myinput1" class="form-control inputmuform"  placeholder="Enter to Exp" name="exp" ngModel required></div>
                <!--<div><input type="submit"  class="btn btn-default"  value="+" /></div>-->
                <div><button class="btn btn-small btn-primary" [disabled]="myForm.invalid"><i class="fa fa-plus"></i></button></div>
            </form>
            <form *ngFor="let level of levels; let i = index"
                    id="tr{{level.id }}"
                    [@list] #myUpdateForm="ngForm" novalidate (ngSubmit)="update(myUpdateForm, i)">
                <div>{{ level.id}}</div>
                <div>
                    <span *ngIf="!level.edit">{{ +level.level}}</span>
                    <div *ngIf="level['edit']" >
                    <input  type="text"
                           class="form-control"
                           value="{{ +level.level}}" name="level" ngModel required/>
                    </div>
                </div>
                <div>
                    <span *ngIf="!level.edit">{{ +level.exp}}</span>
                    <div *ngIf="level['edit']" >
                    <input  type="text"
                           class="form-control"
                            name="exp" ngModel required value="{{ +level.exp }}"></div>
                </div>
                <div style="width: 100px;">
                    <a *ngIf="!level.edit" class="btn  btn-small btn-danger" (click)="remove(i)"><i class="fa fa-trash"></i> </a>
                    <a *ngIf="!level.edit" class="btn  btn-small btn-info" (click)="showUpdate(i)"><i class="fa fa-pencil"></i></a>
                    <button *ngIf="level.edit" class="btn btn-small btn-danger" (click)="cancel(i)"><i class="fa fa-ban"></i></button>
                    <button *ngIf="level.edit" class="btn btn-small btn-danger" [disabled]="myUpdateForm.invalid"><i class="fa fa-save"></i></button>
                    <!--<div  *ngIf="level.edit" ><input type="submit"  class="btn btn-default"  value="+" /></div>-->
                </div>
            </form>
        </div>
    </div>
</ng-template>