<div class="space">
</div>
<!--<div [@list] *ngIf="save" class="visible  center">-->
  <!--<div  *ngIf="save"  class="save-img1 save-font"   >Save...</div>-->
<!--</div>-->

<div [@day] *ngIf="!pageTwo">
<div  class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Your 12 weeks goal
    </div>
    <div class="calendar">
      <img class="today"/> {{ date}}
    </div>
  </div>
  <div   class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>The main goal for 12 weeks</div>
          <div class="text-head">Describe what exactly you want to achieve in next 12 weeks</div>
        </div>
      </div>
      <form  #myTaskForm="ngForm"  novalidate   (focusout)="updateFirstTask(myTaskForm, firsttask['id'])">
      <div class="second-block-large">
        <div class="second-start-input">
                     <textarea  class="input-big" type="text"  name="text" ngModel="{{ firsttask['text'] }}"  required placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals, you must make going forward more compelling then going
                        back.."></textarea>
        </div>
      </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>10 steps to achieve goals above</div>
          <div class="text-head">You can start from any field, just fill like you feel it</div>
        </div>
      </div>
      <form  *ngFor="let step of steps; let i = index"
            id="tr{{step.id }}"
            #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="update(myForm, i)" >
        <div class="second-block-large-1" *ngIf="step.task_id === firsttask['id']">
          <div class="under-numeric">2.<span style="color: rgba(255,133,0,0.8);">{{ i + 1 }}</span> </div>
          <div class="second-start-input">
            <div>
              <div  *ngIf="!step.edit" >
                <!--<span *ngIf="step.edit ">{{ step.text }}</span>-->
                <input type="text" class="input-1"
                       name="text" ngModel="{{step.text}}" required  placeholder=" Fill the goal here"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div style="height:37px">&nbsp;</div>
      <div class="tabs-all">
        <div class="second-block">
          <div class="second-start">
            <div class="text-head-uppercase"><span class="steps-in">3</span>How will I reward myself if I reach the above objective?</div>
            <div class="text-head">You'll get..</div>
          </div>
        </div>
        <form  *ngFor="let reward of rewards; let i = index"
               #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="updateReward(myForm, i)" >
          <div class="second-block-large" *ngIf="reward.task_id === firsttask['id'] ">
            <div class="second-start-input">
              <div>
                <div  >
                  <span *ngIf="reward.edit ">{{ reward.text }}</span>
                  <input type="text" value="тест" *ngIf="!reward.edit"
                         name="text" class="input-1" placeholder=" Fill the goal here" ngModel="{{ reward.text}}" required/>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="third-block">
      <!-- <p>Great job. Next step is available in <span>(ЗДЕСЬ таймер до конца суток)</span>. </p> -->
      <!-- <div class="button-back">
         Never back
      </div> -->
      <a (click)="move()" >
        <div class="button-next">
          Move on
        </div>
      </a>
    </div>
  </div>
</div>
  <footer>

    <i class="fa-2x fa-calendar-o icons" routerLink="/day">
      <div class="icons-text">Day</div>
    </i>

    <i class="fa-2x fa-calendar-check-o icons" routerLink="/week">
      <div class="icons-text">Week</div>
    </i>
    <i class="fa-2x fa-calendar icons" routerLink="/long" style="color:#7779FB">
      <div class="icons-text">Month</div>
    </i>
    <!--<i class="fa-2x fa-bars icons menu-bar" id="showLeft" ></i>-->
    <!--<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">-->
      <!--<h3>Menu</h3>-->
      <!--<a href="#">Celery seakale</a>-->
      <!--<a href="#">Dulse daikon</a>-->
      <!--<a href="#">Zucchini garlic</a>-->
      <!--<a href="#">Catsear azuki bean</a>-->
      <!--<a href="#">Dandelion bunya</a>-->
      <!--<a href="#">Rutabaga</a>-->
    <!--</nav>-->
  </footer>

  <div class="container-footer">
    Copyright 2017-2018 Boom! All Rights Reserved.
  </div>
</div>
<div [@day] *ngIf="pageTwo">
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Secondary goals of the 12 weeks plan
    </div>
    <div class="calendar">
      <!-- <img src="img/today.png" class="today"/> -->
    </div>
  </div>
  <div    class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">4</span>Goal #2</div>
          <div class="text-head">Type the second goal of 12 week plan here..</div>
        </div>
      </div>
      <form  #mySecTaskForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="updateSecondTask(mySecTaskForm, secondtask['id'])">
        <div class="second-block-large">
          <div class="second-start-input">
            <textarea  class="input-big" type="text"  name="text" ngModel="{{ secondtask['text'] }}" required placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals.."></textarea>
          </div>
        </div>
      </form>
      </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">5</span>4 steps to achieve goal #2</div>
          <div class="text-head">You can start from any field, just fill like you feel it</div>
        </div>
      </div>
      <form  *ngFor="let step of steps; let i = index"

             #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="update(myForm, i)" >
        <div class="second-block-large-1" *ngIf="step.task_id === secondtask['id']">
          <div class="under-numeric">5.<span style="color: rgba(255,133,0,0.8);">1</span> </div>
          <div class="second-start-input">
            <div>
              <!--<span *ngIf="!step.edit">{{ step.text}}</span>-->
              <div  >
                <span *ngIf="step.edit ">{{ step.text }}</span>
                <input *ngIf="!step.edit" class="input-1"
                       value="{{ step.text }}" placeholder=" Fill the goal here" name="text" ngModel="{{ step.text}}" required/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">6</span>How will I reward myself if I reach the above objective?</div>
          <div class="text-head">You'll get..</div>
        </div>
      </div>
      <form  *ngFor="let reward of rewards; let i = index"
             #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="updateReward(myForm, i)" >
        <div class="second-block-large" *ngIf="reward.task_id === secondtask['id'] ">
          <div class="second-start-input">
            <div>
              <div  >
                <span *ngIf="reward.edit ">{{ reward.text }}</span>
                <input type="text" value="тест" *ngIf="!reward.edit"
                       name="text" class="input-1" placeholder=" Fill the goal here" ngModel="{{reward.text}}" required/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">7</span>Goal #3</div>
          <div class="text-head">Type the third goal of 12 week plan here..</div>
        </div>
      </div>

      <form  #myTaskForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="updateThirdTask(myTaskForm, thirdtask['id'])">
        <div class="second-block-large">
          <div class="second-start-input">
            <textarea  class="input-big" type="text"  name="text" ngModel="{{ thirdtask['text'] }}" required placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals.."></textarea>
          </div>
        </div>
      </form>
      <form  *ngFor="let step of steps; let i = index"

             #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="update(myForm, i)" >
        <div class="second-block-large-1" *ngIf="step.task_id === thirdtask['id'] ">
          <div class="under-numeric">7.<span style="color: rgba(255,133,0,0.8);">1</span> </div>
          <div class="second-start-input">
            <div>
              <!--<span *ngIf="!step.edit">{{ step.text}}</span>-->
              <div  >
                <span *ngIf="step.edit ">{{ step.text }}</span>
                <input type="text" value="тест" *ngIf="!step.edit"
                         name="text" class="input-1" placeholder=" Fill the goal here" ngModel="{{ step.text }}" required/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">8</span>How will I reward myself if I reach the above objective?</div>
          <div class="text-head">You'll get..</div>
        </div>
      </div>
      <form  *ngFor="let reward of rewards; let i = index"
             #myForm="ngForm"  novalidate onchange="Materialize.toast('Save', 3000,'rounded')"  (focusout)="updateReward(myForm, i)" >
        <div class="second-block-large" *ngIf="reward.task_id === thirdtask['id'] ">
          <div class="second-start-input">
            <div>
              <div  >
                <span *ngIf="reward.edit ">{{ reward.text }}</span>
                <input type="text" value="тест" *ngIf="!reward.edit"
                       name="text" class="input-1" placeholder="Fill the goal here" ngModel="{{reward.text}}" required/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="third-block">
      <a (click)="back()">
        <div class="button-back">
          Back
        </div>
      </a>
      <a routerLink="/week">
        <div class="button-next">
          Move on
        </div>
      </a>
    </div>
  </div>
</div>



  <footer>

    <i class="fa-2x fa-calendar-o icons" routerLink="/day">
      <div class="icons-text">Day</div>
    </i>

    <i class="fa-2x fa-calendar-check-o icons" routerLink="/week">
      <div class="icons-text">Week</div>
    </i>
    <i class="fa-2x fa-calendar icons" routerLink="/long" style="color:#7779FB">
      <div class="icons-text">Month</div>
    </i>
    <!--<i class="fa-2x fa-bars icons menu-bar" id="showLeft" ></i>-->
    <!--<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">-->
    <!--<h3>Menu</h3>-->
    <!--<a href="#">Celery seakale</a>-->
    <!--<a href="#">Dulse daikon</a>-->
    <!--<a href="#">Zucchini garlic</a>-->
    <!--<a href="#">Catsear azuki bean</a>-->
    <!--<a href="#">Dandelion bunya</a>-->
    <!--<a href="#">Rutabaga</a>-->
    <!--</nav>-->
  </footer>

  <div class="container-footer">
    Copyright 2017-2018 Boom! All Rights Reserved.
  </div>


</div>
