<div class="space">
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Your 12 weeks goal
    </div>
    <div class="calendar">
      <!-- <img src="img/today.png" class="today"/> -->

    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>The main goal for 12 weeks</div>
          <div class="text-head">Descrive what exactly you want to achieve in next 12 weeks</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
                     <textarea class="input-big" type="text" placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals, you must make going forward more compelling then going
                        back.."></textarea>
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>10 steps to achieve goals above</div>
          <div class="text-head">You can start from any field, just fill like you feel it</div>
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          1<input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          2<input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          3<input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
      </div><div class="second-block">
      <div class="second-start-input">
        <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
      </div>
    </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
      </div><div class="second-block">
      <div class="second-start-input">
        <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
      </div>
    </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
      </div><div class="second-block">
      <div class="second-start-input">
        <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
      </div>
    </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
      </div>
    </div>

    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>How will I reward myself if I reach the above objective?</div>
          <div class="text-head">You'll get..</div>
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
      </div>
    </div>

    <div class="third-block">
      <!-- <p>Great job. Next step is available in <span>(ЗДЕСЬ таймер до конца суток)</span>. </p> -->
      <!-- <div class="button-back">
         Never back
      </div> -->
      <a href="./12-weeks-second-goals.html">
        <div class="button-next">
          Move on
        </div>
      </a>
    </div>
  </div>
</div>