<!--<div class="tab">-->
  <!--<span class="tab-img" [class.active]="active" (click)="onCheck()"></span>-->
  <!--<span class="tab-text">{{ task?.text }}</span>-->
  <!--<span class="tab-text2">+15 exp.<br>~1.5 hrs<br>concretic level</span>-->
  <!--<span class="tab-text3"><span class="tabs-text-perc">73%</span>-->
    <!--<br>increase up to<br></span>-->
<!--</div>-->
<div class="tabs-all-white-1" >
  <div class="tabs-all-white-1-text-1" (click)="showMethod()" >{{task.title}}</div>
  <div class="tabs-all-white-1-text-2" (click)="showMethod()">{{task.text}}</div>
  <img src="img/dot.png" class="dot" (click)="editMethod()">
  <img src="img/share.png" class="share" >
  <div class="exp-middle">+768 exp</div>
  <div class="percent-middle-red">3%</div>
</div>
<div *ngIf="show" class="tabs-active">
  <div class="tabs-active-desc">
    <div class="tabs-active-desc-title">
      Описание задачи
    </div>
    <div class="tabs-active-desc-content">
      <p>{{task.text}}</p>
    </div>
    <div class="tabs-active-desc-result">
      Результаты
    </div>
    <div class="img-group">
      <div class="img-add"><img src="img/add-my.png" class="add-rec"/></div>
    </div>
    <div class="verify-but">
      Верифицировать
    </div>
  </div>
</div>
<form >
<div *ngIf="edit" class="padding-top1" > <div class="tabs-all">
  <div class="text-head">Что нужно сделать?</div>
  <div class="tab-white-new">
    <input type="text" class="tab-white-new" value="{{task.title}}" #title>
  </div>
</div>
  <div class="tabs-all">
    <div class="text-head">Описание задачи</div>
    <div class="tab-white-new" style="width: 100%;
    min-height: 50px;
    background: #FFF;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    box-shadow: rgba(0, 0, 0, 0.09804) 0 4px 23px;">
      <input class="tabs-text" value="{{task.text}}" #text>
    </div>
  </div>
  <div class="tabs-all">
    <div class="text-head">Категория</div>
    <div class="tab-white-new-drop">
      <select class="tab-white-dropdown1" >
        <option class="tabs-text-drop" *ngFor="let category of categories" value="{{category.id}}" #cat>{{category.title}}</option>
      </select>

      <select class="tab-white-dropdown2" >
          <option class="tabs-text-drop" *ngFor="let category of categories" value="{{category.id}}" #cat>{{category.title}}</option>
      </select>

      <select class="tab-white-dropdown3" >
        <option class="tabs-text-drop" *ngFor="let category of categories" value="{{category.id}}" #cat>{{category.title}}</option>
      </select>

    </div>
  </div>
  <div class="tabs-all" style="margin-bottom:23px">
    <div class="add-prop">
      <img src="img/add-mini.png" class="add-mini">
      <span>Добавить свойство</span>
    </div>
    <div class="save-but">
      <span (click)="updateTask(text.value, title.value, cat, task.id)">Сохранить</span>
    </div>
    <div class="save-text">
      Предварительный процент выполнения задач - $%
    </div>
  </div></div></form>