<!--<div class="tab">-->
  <!--<span class="tab-img" [class.active]="active" (click)="onCheck()"></span>-->
  <!--<span class="tab-text">{{ task?.text }}</span>-->
  <!--<span class="tab-text2">+15 exp.<br>~1.5 hrs<br>concretic level</span>-->
  <!--<span class="tab-text3"><span class="tabs-text-perc">73%</span>-->
    <!--<br>increase up to<br></span>-->
<!--</div>-->
<div class="tabs-all-white-1">
  <div class="tabs-all-white-1-text-1">{{task.text}}</div>
  <div class="tabs-all-white-1-text-2">was always somebody who felt quite sorry for myself, what I had..</div>
  <img src="img/dot.png" class="dot">
  <img src="img/share.png" class="share">
  <div class="exp-middle">+768 exp</div>
  <div class="percent-middle-red">3%</div>
</div>