<div class="space">
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Week 4 Wisdom
    </div>
    <div class="calendar">
      <!-- <img src="img/today.png" class="today"/> -->
    </div>
  </div>
  <div class="form-group-1">
    <h2 class="wait">WAIT? BUT WHY?</h2>
    <p>Once I tried. Lost. Nothing wrong.
      Try again. Lose again. Lose better
      Samuel Beckett ( "the worst meet")
    </p>
    <p>All dreamers, that is, most of us, there is one feature: we represent, who we want to become, what to do, where to go, with whom to meet, a place to live - but we do not want to think about what will be our very foreseeable tomorrow . And tomorrow will be mostly meaningless work inconsonant people around, lack of comfort, money and time. Very often we get stuck on unloved work to pay for their daily dull existence. We communicate with people</p>
    <p>It is not worth our time, and we can not get rid of habits that destroy our bodies. We do not realize the main thing: to change lives, we just have to live your tomorrow in a different way, to begin to do what we do, start to embody dreams, turning them into concrete action - straight from tomorrow.</p>
    <p>Peter was born with achondroplasia, that is a dwarf. All his life he dreamed of becoming an actor, but in our theater and film world are very few roles for dwarfs - they usually offer to play buffoons or leprechauns. After high school, Peter was unable to find any suitable work actor and because of the lack of livelihood took a low-paying position of a specialist in the processing of applications. In this work, he spent 6 years in constant depression and a drunken stupor on Fridays and weekends. In 29 years in one of his sober days he promised himself to get anywhere, but only an actor, and then never do anything else.</p>
    <div class="third-block">
      <!-- <div class="button-back">
         Back
         </div> -->
      <a (click)="addLongCycle()" >
        <div class="button-next">
          Start Now
        </div>
      </a>
    </div>
  </div>
</div>