<div class="space"></div>
<div class="register-back">

  <div class="main-reg">
    <h1 class="log">Golaso!</h1>
    <div class="signin-form">
      <form novalidate (ngSubmit)="login(form)" #form="ngForm">
        <input type="email" placeholder="User Name" id="email" name="email" ngModel="{{email}}" class="form-control" required >
        <input type="password" placeholder="Password" id="password" name="password" ngModel class="form-control" required>
        <input type="submit" name="submit" value="SIGN IN" [disabled]="form.invalid">
      </form>
      <div class="or"><span>or</span></div>

      <button style="z-index: 9999" class="loginBtn loginBtn--facebook"  (click)="socialSignIn('facebook')">Sign in with Facebook</button>-
      <div routerLink="/signup" class="have-account">Don't have an account?</div>
      <!--<div class="have-account">Forgot password?</div>-->
    </div>
  </div>
</div>
    <div *ngIf="error">Неверный логин или пароль</div>
