
<ng-template ngIf="projects">
    <div class="container">
        <h3>Projects</h3>
        <div class="table">
            <div class="tr" >
                <div>Id</div>
                <div>Title</div>
                <div></div>
            </div>
            <form #myForm="ngForm" novalidate (ngSubmit)="create(myForm)">
                <div></div>
                <div><input  id="myinput" class="form-control inputmuform" placeholder="Enter to Title" name="title" ngModel required></div>
                <div><button class="btn btn-small btn-primary" [disabled]="myForm.invalid"><i class="fa fa-plus"></i></button></div>
            </form>
            <form *ngFor="let project of projects; let i = index"
                  id="tr{{project.id }}"
                  [@list] #myUpdateForm="ngForm" novalidate (ngSubmit)="update(myUpdateForm, i)">
                <div>{{ project.id}}</div>
                <div>
                    <span *ngIf="!project.edit">{{ +project.title}}</span>
                    <div *ngIf="project['edit']" >
                        <input class="form-control"
                               value="{{ project.title}}" name="title" ngModel required/>
                    </div>
                </div>
                <div style="width: 100px;">
                    <a *ngIf="!project.edit" class="btn  btn-small btn-danger" (click)="remove(i)"><i class="fa fa-trash"></i> </a>
                    <a *ngIf="!project.edit" class="btn  btn-small btn-info" (click)="showUpdate(i)"><i class="fa fa-pencil"></i></a>
                    <!--<button *ngIf="level.edit" class="btn btn-small btn-danger" (click)="cancel(i)"><i class="fa fa-ban"></i></button>-->
                    <button *ngIf="project.edit" class="btn btn-small btn-danger" [disabled]="myUpdateForm.invalid"><i class="fa fa-save"></i></button>
                </div>
            </form>
        </div>
    </div>
</ng-template>