<div class="space">
</div>
<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Plan for the day.
    </div>
    <div class="calendar">
      <img src="img/today.png" class="today"/> 2017.06.26
    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>Focus of the day</div>
          <div class="text-head">The accomplishment of this task alone is a victory!</div>
        </div>
        <div class="second-end" title="Check all">
          Completed all
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Create a task for the Boom!">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Secondary objectives</div>
          <div class="text-head">Proceed after performing the focus of the day..</div>
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Put a Wings On Your Dreams" >
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Start With A Baseline">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="Use Your Reset Button To Change Your Vibration">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="A Brief History of Creation">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
      <div class="second-block">
        <div class="second-start-input">
          <input class="input-1" type="text" placeholder="The Fact and The Truth">
        </div>
        <div class="second-end-checkbox">
          <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>Location for thoughts</div>
          <div class="text-head">You'gone! Type smth about your task..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
                     <textarea class="input-big" type="text" placeholder="When asked, “If you could wish for one thing only,
                        what would that wish be?” almost everyone; from beauty pagent contestants, to politicians, to religious
                        leaders, to children, to the average person on the street states, “Peace On Earth” or “An end to all
                        wars”. Those wishes, while exemplary, are meaningless.."></textarea>
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">4</span>Things for which I am grateful to the present day</div>
          <div class="text-head">Tell about your best practices..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
                     <textarea class="input-big" type="text" placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals, you must make going forward more compelling then going
                        back.."></textarea>
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">5</span>Victory of the day</div>
          <div class="text-head">Wow!! Perfecto! Tell about your special insights and experience..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
                     <textarea class="input-big" type="text" placeholder="The most beautiful experience we can have is the
                        mysterious. It is the fundamental emotion that stands at the cradle of true art and true science.”
                        Albert Einstein, The World as I See It, 1931 The debate between realism and anti-realism is, at least,
                        a century old.."></textarea>
        </div>
      </div>
    </div>
    <div class="great-job">
      Great job.<br> Start planning your next day <br><span style="border-bottom:2px dashed violet">since 18:00 today.</span>
    </div>
    <div class="third-block">
      <div class="button-back">
        Previous Day
      </div>
      <a href="./index.html">
        <div class="button-next">
          Next day
        </div>
      </a>
    </div>
  </div>
</div>
