<div class="space">
</div>

<div class="container-fluid1">
  <div class="first-block">
    <div class="h1-main">
      <div class="steps">1</div>
      <div class="steps-line"></div>
      <div class="steps">2</div>
      <div class="steps-line"></div>
      <div class="steps steps-last">3</div>
      Plan for the day.
    </div>
    <div class="calendar">
      <img class="today"/> {{ date}}
    </div>
  </div>
  <div class="form-group-1">
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">1</span>Focus of the day</div>
          <div class="text-head">The accomplishment of this task alone is a victory!</div>
        </div>
        <div class="second-end" title="Check all">
          Completed all
        </div>
      </div>
      <form  *ngFor="let task of tasks; let i = index" id="tr{{task.id }}" #myForm="ngForm"  novalidate (focusout)="update(myForm, i)" >
        <div *ngIf="task.priority_id === 1" class="second-block" >
          <div class="second-start-input">
                <input type="text" class="input-1" name="text" ngModel="{{task.text}}" required   placeholder="Fill the goal here"/>
          </div>
          <div class="second-end-checkbox">
            <input (click)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
          </div>
        </div>
      </form>
      <div *ngIf="save">Save...</div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">2</span>Secondary objectives</div>
          <div class="text-head">Proceed after performing the focus of the day..</div>
        </div>
      </div>
      <form  *ngFor="let task of tasks; let i = index"  #myForm="ngForm"  novalidate (focusout)="update(myForm, i)">
          <div *ngIf="task.priority_id === 2"  class="second-block" >

            <div class="second-start-input">
              <input type="text" class="input-1" name="text" ngModel="{{task.text}}" required   placeholder="Fill the goal here"/>
            </div>
            <div class="second-end-checkbox">
              <input (click)="onCheck(task.id, task.checked, i)" class="styled-checkbox" type="checkbox" value="value1" [checked]="task.checked">
            </div>
          </div>
      </form>
      <div *ngIf="save">Save...</div>
      <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">3</span>Location for thoughts</div>
          <div class="text-head">You'gone! Type smth about your task..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
          <form  #myTaskForm="ngForm"  novalidate (focusout)="updateComment(myTaskForm, day.id)">
            <div class="second-block-large">
              <div class="second-start-input">
                <textarea  class="input-big" type="text"  name="text" ngModel="{{comment}}" required placeholder="When asked, “If you could wish for one thing only,
                        what would that wish be?” almost everyone; from beauty pagent contestants, to politicians, to religious
                        leaders, to children, to the average person on the street states, “Peace On Earth” or “An end to all
                        wars”. Those wishes, while exemplary, are meaningless.."></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">4</span>Things for which I am grateful to the present day</div>
          <div class="text-head">Tell about your best practices..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
          <form  #myGraForm="ngForm"  novalidate (focusout)="updateGratitude(myGraForm, day.id)">
            <div class="second-block-large">
              <div class="second-start-input">
                <textarea  class="input-big" type="text"  name="text" ngModel="{{gratitude}}" required placeholder="One of the keys to reaching your goals is to eliminate
                        any escape routes. It is tempting to retreat to safety and comfort when challenges and difficulties arise.
                        To avoid turning around and abandoning your goals, you must make going forward more compelling then going
                        back.."></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tabs-all">
      <div class="second-block">
        <div class="second-start">
          <div class="text-head-uppercase"><span class="steps-in">5</span>Victory of the day</div>
          <div class="text-head">Wow!! Perfecto! Tell about your special insights and experience..</div>
        </div>
      </div>
      <div class="second-block-large">
        <div class="second-start-input">
          <form  #myProgForm="ngForm"  novalidate (focusout)="updateProgress(myProgForm, day.id)">
            <div class="second-block-large">
              <div class="second-start-input">
                <textarea  class="input-big"   name="text" ngModel="{{progress}}" placeholder="The most beautiful experience we can have is the
                        mysterious. It is the fundamental emotion that stands at the cradle of true art and true science.”
                        Albert Einstein, The World as I See It, 1931 The debate between realism and anti-realism is, at least,
                        a century old.."></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div [hidden]="!time" class="great-job">
      Great job.<br> Start planning your next day <br><span style="border-bottom:2px dashed violet">since 18:00 today.</span>
    </div>
    <div class="third-block">
      <div (click)="previousday()"  class="button-back" [hidden]="previus">
        Previous Day
      </div>
      <a  >
        <div routerLink="/" class="button-next" [hidden]="!previus">
          Today
        </div>
      </a>
      <a  >
        <div (click)="nextday()" class="button-next" [hidden]="time">
          Next day
        </div>
      </a>
    </div>
  </div>
</div>
</div>

<footer>

  <i class="fa-2x fa-calendar-o icons" routerLink="/day">
    <div class="icons-text">Day</div>
  </i>

  <i class="fa-2x fa-calendar-check-o icons" routerLink="/week">
    <div class="icons-text">Week</div>
  </i>
  <i class="fa-2x fa-calendar icons" routerLink="/long">
    <div class="icons-text">Month</div>
  </i>
  <i class="fa-2x fa-bars icons menu-bar" id="showLeft" ></i>
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <a href="#">Celery seakale</a>
    <a href="#">Dulse daikon</a>
    <a href="#">Zucchini garlic</a>
    <a href="#">Catsear azuki bean</a>
    <a href="#">Dandelion bunya</a>
    <a href="#">Rutabaga</a>
  </nav>
</footer>

<div class="container-footer">
  Copyright 2017-2018 Boom! All Rights Reserved.
</div>
